<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanzhan.tech.workbench.candidate.mapper.CandidateCompanysMapper">

	<delete id="deleteByMainId">
		DELETE 
		FROM  hz_candidate_companys 
		WHERE
			 candidate_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" resultType="com.hanzhan.tech.workbench.candidate.entity.CandidateCompanys">
		SELECT * 
		FROM  hz_candidate_companys
		WHERE
			 candidate_id = #{mainId} 	</select>
</mapper>
